svq { 

}

pattern {
    width: 10px;
    height: 10px;
}

.sq2 {
    x: 0;
    y: 0;
    width: 5;
    height: 5;
    fill: black;
}

.sq3 {
     x: 5;
     y: 0;
     width: 5;
     height: 5;
     fill: white;
}

.sq4 { 
    x: 5;
    y: 5; 
    width: 5;
    height: 5;
    fill: black;
}

.sq5 {
    x: 0;
    y: 5; 
    width: 5;
    height: 5;
    fill: white;
}

.sq1 {
    width: 100%;
    height: 100%;
}