:root {
  --white: #ffffff;
  --black: #000000;
  --color: #0027C2;
  --headers: helvetica;
  --paragraphs: georgia;
}

h1 {
font: var(--headers);

}

h2 {
    font: var(--headers);
}

p {
font: var(--paragraphs);
}

img {
  transform: scaleX(-1);
}